<div class="well flex">
  <div *ngIf="loading; else loadingComplete">Loading current weather for zip code {{zipCode}}...</div>
  <ng-template #loadingComplete>
    <div *ngIf="error; else noErrors">Error: {{error.message}}</div>
  </ng-template>
  <ng-template #noErrors>
    <div>
      <h3>{{location.name}} ({{zipCode}})</h3>
      <h4>Current conditions: {{location.weather[0].main}}</h4>
      <h4>Temperatures today:</h4>
      <p>
        Current {{location.main.temp}}
        - Max {{location.main.temp_max}}
        - Min {{location.main.temp_min}}
      </p>
      <p>
        <a routerLink="/forecast/95742">Show 5-day forecast for {{location.name}}</a>
      </p>
    </div>  
  </ng-template>
  <div>
    <span class="close" (click)="remove()">×</span>
    <img *ngIf="location?.weather[0].id | weatherConditionIcon; let icon" src="https://www.angulartraining.com/images/weather/{{icon}}.png">
  </div>
</div>